@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;

  --color-text-primary: 31, 41, 55; /* Very dark gray (almost black) */
  

  --color-foreground: 0, 0, 0; /* Black */
  --color-background-start: 214, 219, 220; /* Very light gray */
  --color-background-end: 255, 255, 255; /* White */

  --color-primary-light: 79, 70, 229; /* Bright indigo */
  --color-primary: 67, 56, 202; /* Indigo */
  --color-primary-dark: 55, 48, 163; /* Dark indigo */

  --color-secondary-light: 16, 185, 129; /* Bright teal */
  --color-secondary: 5, 150, 105; /* Teal */
  --color-secondary-dark: 4, 120, 87; /* Dark teal */

  --color-background: 255, 255, 255; /* white */
  --color-background-dark: 209, 213, 219; /* Medium light gray */

  --color-text-primary: 31, 41, 55; /* Very dark gray (almost black) */
  --color-text-placeholder: 156, 163, 175; /* Medium gray */
}


  .dark {
    --background: 18, 18, 18;
    --low-button-background: 10, 10, 10;

  --color-text-primary: 255, 255, 255; /* white */


    --color-foreground: 255, 255, 255; /* White */
    --color-background-start: 0, 0, 0; /* Black */
    --color-background-end: 0, 0, 0; /* Black */

    --color-primary-light: 55, 48, 163; /* Dark indigo */
    --color-primary: 188, 168, 248; /* Indigo */
    --color-primary-dark: 79, 70, 229; /* Bright indigo */

    --color-secondary-light: 4, 120, 87; /* Dark teal */
    --color-secondary: 5, 150, 105; /* Teal */
    --color-secondary-dark: 16, 185, 129; /* Bright teal */

    --color-background: 18, 18, 18; /* Almost black */
    --color-background-dark: 57, 59, 65; /* Black */


    --color-text-primary: 249, 250, 251; /* Very light gray (almost white) */
    --color-text-placeholder: 107, 114, 128; /* Medium gray */
  }



body {
  color: rgb(var(--color-foreground));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--color-background-end))
  ) rgb(var(--color-background-start));
}

.text-balance {
  text-wrap: balance;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

.text-shadow-lg {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow-md {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}